In [1]:
# Nama  : Bonaventura Aldino Senda Seni
# NIM   : 10117122
# Kelas : IF-3

import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings

In [2]:
warnings.simplefilter('ignore')

In [12]:
#membaca dataset dari direktori
df = pd.read_csv("4QualitativeBankcruptcy.csv")
df.head(35)

,Risiko Industri,Risiko Manajemen,Fleksibilitas Keuangan,Kredibilitas,Daya Saing,Risiko Operasi,Kelas
0,1,1,2,2,2,1,2
1,3,3,2,2,2,3,2
2,2,2,2,2,2,2,2
3,1,1,1,1,1,1,2
4,3,3,1,1,1,3,2
5,2,2,1,1,1,2,2
6,1,1,2,1,1,1,2
7,1,1,1,2,2,1,2
8,1,1,2,1,2,1,2
9,1,1,2,2,1,1,2
10,1,1,1,1,2,1,2
11,1,1,1,2,1,1,2
12,3,3,2,1,1,3,2
13,3,3,1,2,2,3,2
14,3,3,2,1,2,3,2
15,3,3,2,1,2,3,2
16,3,3,2,2,1,3,2
17,3,3,1,1,2,3,2
18,3,3,1,2,1,3,2
19,2,2,2,1,1,2,2
20,2,2,1,2,2,2,2
21,2,2,2,1,2,2,2
22,2,2,2,2,1,2,2
23,2,2,1,1,2,2,2
24,2,2,1,2,1,2,2
25,1,3,2,2,2,1,2
26,3,1,2,2,2,3,2
27,1,3,2,2,2,3,2
28,1,3,1,1,1,1,2
29,3,1,1,1,1,3,2
30,1,3,1,1,1,3,2
31,3,3,2,1,1,1,2
32,1,3,1,2,2,1,2
33,3,1,2,1,2,1,2
34,3,1,2,2,1,3,2

In [6]:
feature_cols = ['Risiko Industri', 'Risiko Manajemen', 'Fleksibilitas Keuangan', 'Kredibilitas','Daya Saing','Risiko Operasi']
X, y = df[feature_cols] , df.Kelas

In [8]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.2)

In [42]:
ANN = MLPClassifier()
SVM = LinearSVC()
LR = LogisticRegression()

In [43]:
ANN.fit (X_train, y_train)
ANN.score (X_train, y_train)

0.935

In [45]:
SVM.fit (X_train, y_train)
SVM.score (X_train, y_train)

1.0

In [44]:
LR.fit (X_train, y_train)
LR.score (X_train, y_train)

0.995

In [39]:
ModelBagging = BaggingClassifier()
BC = BaggingClassifier(DecisionTreeClassifier(), max_samples= 0.5, 
                           max_features = 1.0, n_estimators = 20)
BC = BC.fit(X_train, y_train)
y_pred = model.predict(X_test)
print ("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0